<div class='row'>
	<div class='large-8 columns'>
		<h1><%= @toilet.name %> Toilet's</h1>
		<p>Location: <%= @toilet.location %></p>
		<p>Neighborhood: <%= @toilet.neighborhood %></p>
		<p>Average Review: <%= @average_review %></p>
		<a href='/toilets/<%= @toilet.id %>/review'>Click</a> to review your Toilet experience
	</div>
	<div class='large-3 columns' id='toilet_image'>
		<%= image_tag "fancy_toilet.jpg" %>
	</div>
</div>



<% @toilet.reviews.each do |review| %>
	<div class='review_wrapper'>
		<div class='reviewer_info toilet_reviews'>
			<a href='/users/<%= review.reviewer_id %>'><%= review.reviewer.username %></a>
			<p>Rating: <%= review.rating %></p>

		</div>
		<div class='review_text toilet_reviews'>
			<%= review.review_text[2..-1] %>
		</div>
	</div>
<% end %>