<h1><%= @toilet.name %> Toilet's</h1>

<div>
	<p>Location: <%= @toilet.location %></p>
	<p>Average Review: <%= @average_review %></p>
<div>

<div>
	<%= image_tag "fancy_toilet.jpg" %>
</div>

<% @toilet.reviews.each do |review| %>
	<div class='row'>
		<div class='large-3 columns'>
			<a href='/users/<%= review.reviewer_id %>'><%= review.reviewer.username %></a>
			<p>Rating: <%= review.rating %></p>
		</div>
	</div>
	<div class='row'>
		<div class='large-3 columns'>
			<%= review.review_text %>
		</div>
	</div>
<% end %>