<% provide(:title, 'All users') %>
<h1>All Users</h1>
<div class="digg_pagination">
  <%= will_paginate @users, :container => false %>
</div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.google_oauth2 %>
        <%= image_tag(user.google_oauth2.image) %>
        <%= link_to user.google_oauth2.name, user%>
      <% else %>
        <%= image_tag(user.facebook.image) %>
        <%= link_to user.facebook.name, user%>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "delete", user, method: :delete,
                                    data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
