<p>
  <strong>User:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong><%= @user.username.capitalize %>'s Reviews:</strong>
  <ul>
    <% @user.reviews.each do |review| %>
      <li>Rating: <%= review.rating %></li>
      <li>Review: <%= review.review_text %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong><%= @user.username.capitalize %>'s Favorites:</strong>
  <ul>
    <% @user.favorites.each do |favorite| %>
      <li>Favorite Toilets: <%= favorite %></li>
    <% end %>
  </ul>
</p>