<div>
  <div class='user-about'>
    <% if @user.google_oauth2 %>
      <h4>
        <%= image_tag(@user.google_oauth2.image) %>
        <strong>User:</strong>
        <%= @user.google_oauth2.name %>
      </h4>
    <% else %>
      <h4>
        <%= image_tag(@user.facebook.image) %>
        <strong>User:</strong>
        <%= @user.facebook.name %>
      </h4>
    <% end %>
  </div>
</div><br>
<div>
  <div class='side-nav favorites-user'>
    <% if @user.google_oauth2 %>
      <h4><%= @user.google_oauth2.name %>'s Favorites:</h4>
    <% else %>
      <h4><%= @user.facebook.name %>'s Favorites:</h4>
    <% end %>
    <ul>
      <% @user.favorites.each do |favorite| %>
        <li class='active favorite-toilet-link'><%= link_to "#{favorite.toilet.name}", toilet_path(favorite.toilet)%></li>
      <% end %>
    </ul>
  </div>
  <div class='reviews-user'>
    <p>
      <% if @user.google_oauth2 %>
        <h4><%= @user.google_oauth2.name %>'s Reviews:</h4>
      <% else %>
        <h4><%= @user.facebook.name %>'s Reviews:</h4>
      <% end %>
      <ul>
        <% @user.reviews.each do |review| %>
          <li class='ind-review'>Toilet: <%= link_to "#{review.toilet.name}", toilet_path(review.toilet) %></li>
          <li>Rating: <%= review.rating %></li>
          <li>Date: <%= review.created_at.strftime("%B %d, %Y") %></li>
          <li><%= review.review_text %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>
