<% if current_user %>
  <li class='button'>
    <%= link_to 'ADMIN', users_path %>
  </li>
<% end %>
  <li class='button'>
    <%= link_to 'HOME', root_path %>
  </li>
  <li class='button'>
    <%= link_to 'PROFILE', user_path(current_user) %>
  </li>
  <li class='button'>
    <%= link_to "SETTINGS", edit_user_path(current_user) %>
  </li>
  <li class='button'>
    <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>
  </li>
